<div class="row">
  <div class="mb-2"> 
    <h2>Today's Surgeries</h2>
  </div>
  <div class="col-12 col-lg-6 col-md-6" *ngFor="let surgery of TodaysSurgeryList" >
    <div class="card m-3 " style="display: flex;">
      <div class="card-header d-flex justify-content-center align-items-center" style="background-color: #96D2C8;">
        <strong>Surgery ID: {{ surgery.SurgeryId }}</strong> 
      </div>
      <div class="card-body">
        <h6>Doctor ID: {{ surgery.DoctorID }}</h6>
        <h6>Start Time: {{convertDecimalToTime(surgery.StartTime)}}</h6>
        <h6>End Time: {{convertDecimalToTime(surgery.EndTime)}}</h6>
        <h6>Surgery Category: {{surgery.SurgeryCategory}}</h6>
        <h6>Surgery Date: {{surgery.SurgeryDate.toString().slice(0,10)}}</h6>
      </div>
      <div class="card-footer d-flex justify-content-center align-items-center" style="background-color: #96D2C8;">
        <button class="btn btn-edit" style="background-color: #348779; color: white;" (click)="editSurgery(surgery)">Edit Surgery Time</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container table-container">
    <div *ngIf="TodaysSurgeryList?.length > 0;else noSurgery">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Surgery ID</th>
            <th>Doctor ID</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Surgery Category</th>
            <th>Surgery Date</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let surgery of TodaysSurgeryList">
            <td>{{ surgery.SurgeryId }}</td>
            <td>{{ surgery.DoctorID }}</td>
            <td>{{ surgery.StartTime }}</td>
            <td>{{ surgery.EndTime }}</td>
            <td>{{ surgery.SurgeryCategory }}</td>
            <td>{{ surgery.SurgeryDate | date }}</td>
            <td>
              <button class="btn btn-primary btn-edit" (click)="editSurgery(surgery)">Edit Surgery Time</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #noSurgery>
      <p class="no-surgery-message">No Surgeries Scheduled for Today</p>
    </ng-template>
  </div> -->
  
