<div class="row">
  <div class="mb-2"> 
    <h2>Today's Surgeries</h2> 
  </div>
  
  <!-- Loop through surgeries in TodaysSurgeryList -->
  <div class="col-12 col-lg-6 col-md-6" *ngFor="let surgery of TodaysSurgeryList" >
    <div class="card m-3 " style="display: flex;"> <!-- Card for each surgery -->
    
      <!-- Card header with Surgery ID -->
      <div class="card-header d-flex justify-content-center align-items-center" style="background-color: #96D2C8;">
        <strong>Surgery ID: {{ surgery.SurgeryId }}</strong> 
      </div>
      
      <!-- Card body with surgery details -->
      <div class="card-body">
        <h6>Doctor ID: {{ surgery.DoctorID }}</h6> <!-- Doctor's ID -->
        <h6>Start Time: {{convertDecimalToTime(surgery.StartTime)}}</h6> <!-- Start time of surgery -->
        <h6>End Time: {{convertDecimalToTime(surgery.EndTime)}}</h6> <!-- End time of surgery -->
        <h6>Surgery Category: {{surgery.SurgeryCategory}}</h6> <!-- Category of surgery -->
        <h6>Surgery Date: {{surgery.SurgeryDate.toString().slice(0,10)}}</h6> <!-- Date of surgery -->
      </div>
      
      <!-- Card footer with button to edit surgery time -->
      <div class="card-footer d-flex justify-content-center align-items-center" style="background-color: #96D2C8;">
        <button class="btn btn-edit" style="background-color: #348779; color: white;" (click)="editSurgery(surgery)">Edit Surgery Time</button>
      </div>
      
    </div>
  </div>
</div>


  
