.card {
    border: none;
    border-radius: 15px;
    transition: all 1s;
    cursor: pointer;
    box-shadow: 3px 5px 17px -4px #777777
}

.card:hover {
    box-shadow: 3px 5px 17px -4px #777777
}

.apointment button {
    border-radius: 20px;
    border-color: #eee;
    font-size: 14px
}

.ratings i {
    color: green
}

.IDWidth{
    width: 15%;
}

.NameWidth{
    width: 55%;
}

.EditWidth{
    width: 15%;
}

.RemoveWidth{
    width: 15%;
}