/* Styling for cards */
.card {
    border: none;
    border-radius: 15px;
    transition: all 1s;
    cursor: pointer;
    box-shadow: 3px 5px 17px -4px #777777;
}

/* Styling for buttons */
button {
    border-radius: 10px;
    border-color: #eee;
    font-size: 14px;
}

/* Styling for star ratings */
.ratings i {
    color: green;
    padding-right: 3px;
}

/* Flexbox setup for rows */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for the doctor's list container */
.doctors_list {
    display: flex;
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 3px 5px 17px -4px #777777;
}

/* Styling for the doctor's picture */
.doctor_pic {
    margin-right: 10%;
}

/* Styling for h4 elements */
h4 {
    font-size: 18px;
    font-weight: 700;
}