<div class="m-4">
    <h2>Doctor Data</h2>

    <div class="table-responsive table-fixed">
        <table class="table table-bordered mt-4">
            <tr>
                <th class="IDWidth">Doctor ID</th>
                <th class="NameWidth">Doctor Name</th>
            </tr>
            <tbody>
                <!-- use async in case of the Observable array -->
                <tr *ngFor="let pos of displayDoctors;">
                    <td>{{pos.DoctorID}}</td>
                    <td>{{pos.DoctorName}}</td>
                </tr>
            </tbody>
        </table>   
    </div>
</div>
