<div class="row">

    <!-- Display heading based on the provided 'code' -->
    <h1 *ngIf="code==='ANE'">Anesthesiologists</h1>
    <h1 *ngIf="code==='CAR'">Cardiologists</h1>
    <h1 *ngIf="code==='GYN'">Gynaecologists</h1>

    <!-- Iterate through the 'displayDoctors' array -->
    <div class="col-md-6 col-lg-6" *ngFor="let pos of displayDoctors;">

        <!-- Container for individual doctor information -->
        <div class="doctors_list">
            
            <!-- Doctor's profile picture -->
            <div class="doctor_pic">
                <img src={{pos.Image}} alt="image" width="100">
            </div>

            <!-- Doctor's information -->
            <div class="doctor_info">
                <h4>Dr. {{pos.DoctorName}}</h4> <!-- Doctor's name -->
                <h6>{{pos.DoctorID}}</h6> <!-- Doctor's ID -->
                
                <!-- Ratings section -->
                <div class="ratings mt-1"> 
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> 
                </div>
            </div>
        </div>
    </div>
</div>
