<div class="row">
    <h1 *ngIf="code==='ANE'">Anesthesiologists</h1>
    <h1 *ngIf="code==='CAR'">Cardiologists</h1>
    <h1 *ngIf="code==='GYN'">Gynaecologists</h1>
    
    <div class="col-md-6 col-lg-6" *ngFor="let pos of displayDoctors;">
        
            
            
        <div class="doctors_list">
            
            <div class="doctor_pic">
                <img src={{pos.Image}} alt="image" width="100">
            </div>
            <div class="doctor_info">
                <h4>Dr. {{pos.DoctorName}}</h4>
                <h6>{{pos.DoctorID}}</h6>
                <div class="ratings mt-1"> 
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star"></i> 
                </div>
            </div>
        </div>
    </div>
</div>