<div class="container"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Northwind App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <p><a class="nav-item nav-link active" [routerLink]="['showAllDoctors']">View Doctors <span class="sr-only">(current)</span></a></p>
        <p><a class="nav-item nav-link" [routerLink]="['showAllSpecializations']">View Specializations</a></p>
        <p><a class="nav-item nav-link" [routerLink]="['viewTodaysSurgery']">View Today's Surgery</a></p>
        <p><a class="nav-item nav-link" [routerLink]="['addDoctor']">Add Doctor</a></p>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<h1>Hello this is a confilct message</h1>