th, td {
    border-bottom: 1px solid #ddd;
  }

  table {
    width: 50%;
    margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
  

  td {
    padding: 15px;
    text-align: left;
  }
  tr:nth-child(odd) {background-color:beige;}
  th {
    background-color:cornflowerblue;
    color: white;
  }