<div class="container py-3">
  <div class="card">
    <div class="card-header text-center" style="background-color: #96D2C8;">
      <div style="position: absolute; right: 0; top: 0;">
        <button class="btn" (click)="goBack()"><i class="fa fa-close"></i></button>
    </div>
      <h4>Update Surgery</h4>
    </div>
      <form (ngSubmit)="submitForm()" [formGroup]="updateSurgeryForm">
        <div class="card-body">

        <div class="mb-3">
          <label for="surgeryId" class="form-label"><strong>Surgery ID</strong></label>
          <input type="text" class="form-control" id="surgeryId" [value]="surgery.SurgeryId" readonly>
        </div>
        <div class="mb-3">
          <label for="doctorID" class="form-label"><strong>Doctor ID</strong></label>
          <input type="number" class="form-control" id="doctorID" formControlName="doctorID" required>
        </div>
        <div class="mb-3">
          <label for="startTime" class="form-label"><strong>Start Time(24 Hour Format)</strong></label>
          <input type="number" class="form-control" id="startTime" formControlName="startTime" required >
          <div *ngIf="updateSurgeryForm.get('startTime').hasError('required') && updateSurgeryForm.get('startTime').dirty" class ="errormsg" >
            Start time is required.
          </div>
          <div *ngIf="updateSurgeryForm.get('startTime').hasError('min')" class ="errormsg" >
            Start time must be at least 0.
          </div>
          <div *ngIf="updateSurgeryForm.get('startTime').hasError('max')" class ="errormsg" >
            Start time must be at most 24.
          </div>
        </div>
        <div class="mb-3">
          <label for="endTime" class="form-label"><strong>End Time(24 Hour Format)</strong>)</label>
          <input type="number" class="form-control" id="endTime" formControlName="endTime" required>
          <div *ngIf="updateSurgeryForm.get('endTime').hasError('required') && updateSurgeryForm.get('endTime').dirty" class ="errormsg">
            End time is required.
          </div>
          <div *ngIf="updateSurgeryForm.get('endTime').hasError('min')" class ="errormsg" >
            End time must be at least 0.
          </div>
          <div *ngIf="updateSurgeryForm.get('endTime').hasError('max')" class ="errormsg" >
            End time must be at most 24.
          </div>
        </div>
        <div class="mb-3">
          <label for="surgeryCategory" class="form-label"><strong>Surgery Category</strong></label>
          <input type="text" class="form-control" id="surgeryCategory" formControlName="surgeryCategory" required>
        </div>
        <div class="mb-3">
          <label for="surgeryDate" class="form-label"><strong>Surgery Date</strong></label>
          <input type="date" class="form-control" id="surgeryDate" formControlName="surgeryDate" required>
        </div>
      </div>
      <div class="card-footer text-center" style="background-color: #96D2C8;">
        <button type="submit" class="btn" style="background-color: #348779; color: white;" id="update-btn">Update</button>
        <!-- <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button> -->
      </div>
      </form>
  </div>
</div>
    <!-- <h2>Update Surgery</h2>
    <form (ngSubmit)="submitForm()" [formGroup]="updateSurgeryForm">
      <div class="mb-3">
        <label for="surgeryId" class="form-label">Surgery ID</label>
        <input type="text" class="form-control" id="surgeryId" [value]="surgery.SurgeryId" readonly>
      </div>
      <div class="mb-3">
        <label for="doctorID" class="form-label">Doctor ID</label>
        <input type="number" class="form-control" id="doctorID" formControlName="doctorID" required>
      </div>
      <div class="mb-3">
        <label for="startTime" class="form-label">Start Time(24 Hour Format)</label>
        <input type="number" class="form-control" id="startTime" formControlName="startTime" required >
        <div *ngIf="updateSurgeryForm.get('startTime').hasError('required') && updateSurgeryForm.get('startTime').dirty" class ="errormsg" >
          Start time is required.
        </div>
        <div *ngIf="updateSurgeryForm.get('startTime').hasError('min')" class ="errormsg" >
          Start time must be at least 0.
        </div>
        <div *ngIf="updateSurgeryForm.get('startTime').hasError('max')" class ="errormsg" >
          Start time must be at most 24.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="endTime" class="form-label">End Time(24 Hour Format)</label>
        <input type="number" class="form-control" id="endTime" formControlName="endTime" required>
        <div *ngIf="updateSurgeryForm.get('endTime').hasError('required') && updateSurgeryForm.get('endTime').dirty" class ="errormsg">
          End time is required.
        </div>
        <div *ngIf="updateSurgeryForm.get('endTime').hasError('min')" class ="errormsg" >
          End time must be at least 0.
        </div>
        <div *ngIf="updateSurgeryForm.get('endTime').hasError('max')" class ="errormsg" >
          End time must be at most 24.
        </div>
      </div>
      <div class="mb-3">
        <label for="surgeryCategory" class="form-label">Surgery Category</label>
        <input type="text" class="form-control" id="surgeryCategory" formControlName="surgeryCategory" required>
      </div>
      <div class="mb-3">
        <label for="surgeryDate" class="form-label">Surgery Date</label>
        <input type="date" class="form-control" id="surgeryDate" formControlName="surgeryDate" required>
      </div>
      <button type="submit" class="btn" style="background-color: #348779;" id="update-btn">Update</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
    </form>
  </div>
   -->