@media only screen and (max-width: 978px){
    .card_edit{
        width: 100%;
    }
}

@media (min-width: 979px){
    .card_edit{
        margin: auto;
        width: 40%;
    }
}

.edit_button{
    width: 50%;
    margin: auto;
    background-color: #348779; 
    color: white;
}