<div class="main_div">
    <div class="card mt-5 mx-auto" style="width: 45%;">
        <div class="card-header" style="text-align: center; background-color: #96D2C8;">
            <div style="position: absolute; right: 0; top: 0;">
                <button class="btn" (click)="onCancel()"><i class="fa fa-close"></i></button>
            </div>
            <h2>Edit Doctor</h2>
        </div>
        <div class="card-body">
            <form class="form-group" action="" [formGroup]="editDoctorForm" (ngSubmit)="onSubmit()">
                <label for="DoctorID">Doctor ID</label>
                <input class="form-control" type="number" name="DoctorID" formControlName="DoctorID" id="DoctorID">
                <br>
        
                <label for="DoctorName">Doctor Name</label>
                <input class="form-control" type="text" name="DoctorName" formControlName="DoctorName" id="DoctorName" required>
                <span class="text-danger font-weight-bold" 
                    *ngIf="!editDoctorForm.controls?.['DoctorName'].valid && 
                    (editDoctorForm.controls?.['DoctorName'].dirty ||
                    editDoctorForm.controls?.['DoctorName'].touched)">
                    Doctor name is a required field
                </span>
            </form>
        </div>
        <div class="card-footer" style="text-align: center; background-color: #96D2C8;">
            <div>
                <button type="submit" [disabled]="!editDoctorForm.valid" class="btn edit_button btn-block" (click)="onSubmit()" style="background-color: #348779; color: white;" value="Submit">Edit</button>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>

<!-- <div class="m-4">
    <div class="bg-img">
        <div class="card container" style="width: 40%;">
            <div class="card-header" style="text-align: center;">
                <h2>Edit Doctor</h2>
            </div>
            <div class="card-body">
                <form class="form-group" action="" [formGroup]="editDoctorForm" (ngSubmit)="onSubmit()">
                    <label for="DoctorID">Doctor ID</label>
                    <input class="form-control" type="number" name="DoctorID" formControlName="DoctorID" id="DoctorID">
                    <br>
            
                    <label for="DoctorName">Doctor Name</label>
                    <input class="form-control" type="text" name="DoctorName" formControlName="DoctorName" id="DoctorName">
                </form>
            </div>
            <div class="card-footer" style="text-align: center;">
                <button type="submit" class="btn btn-primary" value="Submit">Edit</button>
                <button class="btn btn-danger ml-5" value (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </div>
</div> -->