<!-- Main container div -->
<div class="main_div">
    <!-- Card container -->
    <div class="card abc mt-5">
        <!-- Card header -->
        <div class="card-header" style="text-align: center; background-color: #96D2C8;">
            <!-- Close button on the top-right corner -->
            <div style="position: absolute; right: 0; top: 0;">
                <button class="btn" (click)="onCancel()"><i class="fa fa-close"></i></button>
            </div>
            <!-- Title for the card -->
            <h2>Edit Doctor</h2>
        </div>
        <!-- Card body -->
        <div class="card-body">
            <form class="form-group" action="" (ngSubmit)="onSubmit()" [formGroup]="editDoctorForm">
                <!-- Label and input field for Doctor ID -->
                <label for="DoctorID">Doctor ID</label>
                <input class="form-control" type="number" name="DoctorID" formControlName="DoctorID" id="DoctorID">
                <br>
        
                <!-- Label and input field for Doctor Name -->
                <label for="DoctorName">Doctor Name</label>
                <input class="form-control" type="text" name="DoctorName" formControlName="DoctorName" id="DoctorName" required>
                <!-- Error message for invalid DoctorName input -->
                <span class="text-danger font-weight-bold" 
                    *ngIf="!editDoctorForm.controls?.['DoctorName'].valid && 
                    (editDoctorForm.controls?.['DoctorName'].touched || 
                    editDoctorForm.controls?.['DoctorName'].dirty)">
                    Doctor Name is required
                </span>
                <br>

                <!-- Label and input field for Phone No -->
                <label for="PhoneNo">Phone No</label>
                <input class="form-control" type="string" name="PhoneNo" formControlName="PhoneNo" id="PhoneNo">
                <!-- Error message for invalid Phone Number input -->
                <span class="text-danger font-weight-bold" 
                    *ngIf="!editDoctorForm.controls?.['PhoneNo'].valid && 
                    (editDoctorForm.controls?.['PhoneNo'].touched || 
                    editDoctorForm.controls?.['PhoneNo'].dirty)">
                    Phone Number is required and must be numbers
                </span>
                <br>
            </form>
        </div>
        <!-- Card footer -->
        <div class="card-footer" style="text-align: center; background-color: #96D2C8;">
            <!-- Button to submit the form -->
            <div>
                <button type="submit" [disabled]="!editDoctorForm.valid" class="btn edit_button btn-block" (click)="onSubmit()" value="Submit">Edit</button>
            </div>
        </div>
    </div>
</div>