<!-- <div class="m-4">
    <h2>Edit Doctor</h2>
  
    <form class="form-group" action="" [formGroup]="editDoctorForm" (ngSubmit)="onSubmit()">
        <label for="DoctorID">Doctor ID</label>
        <input class="form-control" type="number" name="DoctorID" formControlName="DoctorID" id="DoctorID">
        <br>

        <label for="DoctorName">Doctor Name</label>
        <input class="form-control" type="text" name="DoctorName" formControlName="DoctorName" id="DoctorName">
        <br>

        <button type="submit" class="btn btn-primary" value="Submit">Edit</button>
        <button class="btn btn-danger ml-5" value (click)="onCancel()">Cancel</button>
    </form>
</div> -->

<div class="card mt-5 mx-auto" style="width: 35%;">
    <div class="card-header" style="text-align: center; background-color: #96D2C8;">
        <h2>Edit Doctor</h2>
    </div>
    <div class="card-body">
        <form class="form-group" action="" [formGroup]="editDoctorForm" (ngSubmit)="onSubmit()">
            <label for="DoctorID">Doctor ID</label>
            <input class="form-control" type="number" name="DoctorID" formControlName="DoctorID" id="DoctorID">
            <br>
    
            <label for="DoctorName">Doctor Name</label>
            <input class="form-control" type="text" name="DoctorName" formControlName="DoctorName" id="DoctorName">
        </form>
    </div>
    <div class="card-footer" style="text-align: center; background-color: #96D2C8;">
        <button type="submit" class="btn" style="background-color: #348779; color: white;" value="Submit">Edit</button>
        <button class="btn btn-danger ml-5" value (click)="onCancel()">Cancel</button>
    </div>
</div>

<!-- <div class="m-4">
    <div class="bg-img">
        <div class="card container" style="width: 40%;">
            <div class="card-header" style="text-align: center;">
                <h2>Edit Doctor</h2>
            </div>
            <div class="card-body">
                <form class="form-group" action="" [formGroup]="editDoctorForm" (ngSubmit)="onSubmit()">
                    <label for="DoctorID">Doctor ID</label>
                    <input class="form-control" type="number" name="DoctorID" formControlName="DoctorID" id="DoctorID">
                    <br>
            
                    <label for="DoctorName">Doctor Name</label>
                    <input class="form-control" type="text" name="DoctorName" formControlName="DoctorName" id="DoctorName">
                </form>
            </div>
            <div class="card-footer" style="text-align: center;">
                <button type="submit" class="btn btn-primary" value="Submit">Edit</button>
                <button class="btn btn-danger ml-5" value (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </div>
</div> -->